
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Teko:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ccc;
}

#root {
    background-color: #52ad80;
    color: white;
    width: 30%;
    margin: 3% auto 0;
    border-radius: 12px;
    padding-top: 10px;
    padding-bottom: 30px;
    box-shadow: -3px 3px 2px 0 gray;
}

.result {
    margin-bottom: 20px;
}

.result span {
    display: block;
    text-align: right;
    padding: 8px 0;
    font-size: 22px;
    padding-right: 8%;
}

.result input {
    font-family: 'Orbitron', 'Teko';
    display: block;
    width: 85%;
    margin: 0 auto;
    height: 80px;
    text-align: right;
    padding-right: 1%;
    outline: none;
    font-size: 30px;
    border: none;
    border-radius: 6px;
    background-color: #d4ffe9e5;
}

.result input::placeholder {
    font-size: 40px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 14px;
    width: 90%;
    margin: 0 auto;
}

button {
    cursor: pointer;
    font-size: 32px;
    color: white;
    background-color: #e2d9d94d;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    user-select: none;
}

button:hover {
    background-color: #e2d9d9b9;
}

button:active {
    transform: scale(.9);
    background-color: transparent;
}

.clear {
    font-size: 24px;
    color: #f56d6d;
}

.delete {
    font-size: 18px;
}

.functional {
    color: #b3ff00;
    background-color: #ffffff3f;
}

.functional:hover {
    color: #fff;
}

.functional:active {
    box-shadow: inset 2px 2px 2px #e2d9d9b9, 2px 2px 3px #e2d9d9b9;
}

.hb {
    display: none;
}

.equals {
    background-color: lime;
    color: #d3cccc;
}

.equals:hover {
    background-color: lime;
    color: white;
}

@media screen and (max-width: 1024px) {
    #root {
        margin-top: 12%;
        width: 35%;
    }
}

@media screen and (max-width: 768px) {
    #root {
        margin-top: 20%;
        width: 60%;
    }
    .result span {
        font-size: 28px;
    }
    .result input {
        height: 90px;
        font-size: 34px;
    }
    .buttons {
        column-gap: 24px;
    }
    button {
        width: 70px;
        height: 70px;
    }
    .clear {
        font-size: 30px;
    }
    .delete {
        font-size: 20px;
    }
}

@media screen and (max-width: 640px) {
    #root {
        width: 75%;
    }
}

@media screen and (max-width: 576px) {
    button {
        width: 68px;
        height: 68px;
    }
    .buttons {
        column-gap: 20px;
    }
}

@media screen and (max-width: 430px) {
    #root {
        width: 94%;
    }
    .result input {
        width: 94%;
    }
}

@media screen and (max-width: 385px) {
    .buttons {
        column-gap: 16px;
    }
    button {
        width: 60px;
        height: 60px;
    }
}

@media screen and (max-width: 320px) {
    button {
        width: 50px;
        height: 50px;
    }
}